
.discount-text{
   font-size: 30px;
}
.items{
    background-color: #0091c7;
    align-items: center;
    
}
.icon-color{
    color: gold;
    margin-bottom: 15px;
}
.button{
    color: white;
    background-color: #0091c7;
    border: #0091c7;
    border-radius: 2px;
    padding: 5px 25px ;
}