
.discount-text{
   font-size: 30px;
}
.items{
    background-color: #0091c7;
    align-items: center;
    
}
.icon-color{
    color: gold;
    margin-bottom: 15px;
}
.button{
    color: white;
    background-color: #0091c7;
    border: #0091c7;
    border-radius: 2px;
    padding: 5px 25px ;
}

.cart{
    border-radius: 5px;
    
}
.section{
    width:100%;
    display:block;
   
}
.most-popular{
    margin-top: 10px;
   
}

.next{
    background-color: #0091c7;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    color: white;

}

.input-box{
    padding: 10px 30px;
    border-radius: 5px;
}
.language {
    margin-top: 20px;
}