.header-section{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 10px;
}
 
.logo{
 
    font-weight: 600;
    color: #0091c7;
    font-size: 30px;
    text-decoration: none;
}
.header-text{
    color: white;
}
.nav{
   border-bottom: 1px solid rgba(128, 128, 128, 0.165);
   background-color: #23272e;
}

.button{
    color: white;
    background-color: #0091c7;
    border: #0091c7;
    border-radius: 2px;
    padding: 5px 25px ;
}
.header-text{
    justify-content: end;
}